{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %} 
    <form action="{{ url_for('quote') }}">
        <fieldset>
            <div class="container">
                <h2>{{ price['name'] }}</h2>
                <table class="table table-hover">
                    <thread>
                        <tr>
                            <th>Stock Symbol</th>
                            <th>Current Price</th>
                        </tr>
                    </thread>
                    <tbody>
                        <td>{{ price['symbol' ] }}</td>
                        <td>{{ price['price'] }}</td>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Reset</button>
            </div>
        </fieldset>
    </form>
{% endblock %}